.active {
    background: transparent;
    color: blue;
    text-align: black;
    border-bottom: 1px solid ;
}

.bg-svg-custom {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none" width="100vh" height="100px"><path fill="%2387CEEB" d="M0 10h100v-7c-10 3-30 1-50 0C20 1 10 7 0 3z"/><path fill="%23B0E0E6" d="M0 10h100v-8c-10 2-30 1-50 0C20 1 10 8 0 4z"/><path fill="%23E0FFFF" d="M0 10h100V6c-10 2-30 1-50 0C20 1 10 6 0 4z"/></svg>');
    background-repeat: no-repeat;
}